@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face  {
  font-family: Space Mono;
  src: url("/fonts/MonoSpace.woff2");
}

@font-face  {
  font-family: Ultra;
  src: url("/fonts/ultra.otf");
}

:root {
  --border-color: rgb(40, 40, 40);
}

* {
  border-color: var(--border-color);
}

body {
  background-color: black;
  font-family: Space Mono;
  color: white;
}

body.dark {
  background-color: black;
  color: white;
}
body.light {
  background-color: rgb(255, 255, 255);
  color: black;
}

html {
  max-width: 100vw;
}

.first-letter {
  font-size: 5em;
  /* line-height: 10em; */
}
