@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face  {
  font-family: Space Mono;
  src: url("/fonts/MonoSpace.woff2");
}

:root {
  --border-color: rgb(40, 40, 40);
}

* {
  border-color: var(--border-color);
}

body {
  background-color: black;
  font-family: Space Mono;
  color: white;
}

header {
  border-color: var(--border-color);
}

header > a {
  border-color: var(--border-color);
  transition: background-color 0.4s ease, color 0.3s ease;
}

header > a:hover {
  background-color: rgb(20, 20, 20);
}

header > a:first-child {
  color: red;
}
header > a:first-child::before {
  /* content: ">_ "; */
  color: rgb(40, 40, 40);
  font-size: 1.2em;
}